[init]
  defaultBranch = main
[pull]
  rebase = true
[rebase]
  autoStash = true
[push]
  autoSetupRemote = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  algorithm = histogram
  colorMoved = plain
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[merge]
  conflictstyle = zdiff3
  autoStash = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[user]
  name = {{ .user.name | quote }}
  email = {{ .user.email | quote }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBJ7plqu/62IIaNdHf4QWn8zFM5sJAP0peftiheVOhI5

[gpg]
  format = ssh

[commit]
  gpgsign = true

[gpg "ssh"]
{{- if eq .chezmoi.os "linux" }}

{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
## WSL-specific configuration for using the Windows 1Password CLI for SSH signing
program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"
{{- else }}
program = "/opt/1Password/op-ssh-sign"
{{- end }}

{{- else if eq .chezmoi.os "darwin"}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[include]
  path = local/config
